* {
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
}
div{
  min-width: 400px;
  margin-left: 25px;
}

.title { 
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 20px;
  margin: auto;
  background-color: pink;
  text-transform: uppercase;  
}

span {
  color: pink;
  font-weight: bold;
  font-size: 3em;
}

p {  
  text-indent: 50px;
  padding: 20px;
  margin: 5px;
  height: fit-content;
  line-height: 1.4;
}

caption {
  font-weight: bold;
  font-size: 3em;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin:25px 0;
  font-size: 0.9em;
  height: 10%;
  width:50%;
  border: 5px solid;
  border-color: hsl(350, 100%, 88%);   
}

th {
  font-size: 3em;
  text-align: center;
  padding: 20px;
  border: 5px solid;
  border-color: hsl(350, 100%, 88%);
}

td {
  text-align: center;
  padding: 10px;
}
tbody tr:nth-of-type(even){
  color: hsl(350, 65%, 75%);
}
tr:hover:nth-of-type(even){
  background-color: rgb(83, 64, 64);
}

tr:hover{
  background-color: pink;
}
tfooter {
  font-size: 1.5em;
  text-shadow: 2px 2px  rgb(202, 45, 45);;
  margin: 100%;
  opacity: .5;
  color: hsl(350, 65%, 75%);
}